<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/bootstrap-icons.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/infollama.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/flow.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/jbox.min.css') }}"
    />
    <title>Infollama Proxy</title>

    <link rel="shortcut icon" href="/favicon.ico" />

    <script src="{{ url_for('static', filename= 'js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/infollama.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/flow.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/table.sort.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/jbox.min.js') }}"></script>

    <script>
      window.addEventListener("load", (event) => {
        startProxyUI();
        // Initialize all tooltips
        var tooltipTriggerList = [].slice.call(
          document.querySelectorAll('[data-bs-toggle="tooltip"]')
        );
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl);
        });
      });

      document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("theme-toggle");
        const themeIcon = document.getElementById("theme-icon");
        const body = document.body;
        const navbar = document.getElementById("navbar");

        toggleButton.addEventListener("click", function () {
          const currentTheme = body.getAttribute("data-bs-theme");
          const newTheme = currentTheme === "light" ? "dark" : "light";
          body.setAttribute("data-bs-theme", newTheme);
          body.setAttribute("class", newTheme);
          localStorage.setItem("theme", newTheme);
          themeIcon.className =
            newTheme === "light" ? "bi bi-sun" : "bi bi-moon";
          navbar.className =
            newTheme === "light"
              ? "navbar navbar-expand-lg fixed-top p-0 shadow bg-light"
              : "navbar navbar-expand-lg fixed-top p-0 shadow bg-dark";
        });

        // Load the saved theme
        const savedTheme = localStorage.getItem("theme") || "light";
        body.setAttribute("data-bs-theme", savedTheme);
        body.setAttribute("class", savedTheme);
        themeIcon.className =
          savedTheme === "light" ? "bi bi-sun" : "bi bi-moon";
        navbar.className =
          savedTheme === "light"
            ? "navbar navbar-expand-lg fixed-top p-0 shadow bg-light"
            : "navbar navbar-expand-lg fixed-top p-0 shadow bg-dark";
      });
    </script>
  </head>
  <body data-bs-theme="light" class="light">
    <nav class="navbar navbar-expand-lg fixed-top p-0 shadow" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/static/picto/infollama.png"
            alt="Logo"
            class="d-inline-block align-text-top logo"
          />
        </a>
        <span class="me-auto" id="header-title">
          Infollama Proxy<br /><small>&nbsp;Release {{ release }}</small>
        </span>
        <span class="me-auto" id="header-device"> </span>

        <div class="d-flex align-items-center">
          <i
            class="bi bi-heart-pulse-fill ms-2 mx-2"
            id="icon-heart"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Server Status: Looking for connexion"
          ></i>
        </div>
        <div class="d-flex align-items-center">
          <span class="navbar-text mx-3" id="header-user"></span>

          <button id="theme-toggle" class="btn btn-link p-0 mx-3 fs-4">
            <i
              id="theme-icon"
              class="bi bi-sun"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Toggle Theme"
            ></i>
          </button>
          <button
            class="btn btn-outline-secondary d-none"
            id="btn-logout"
            onclick="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </nav>

    <!-- Main Content -->

    <!-- The Modal SHOW-MODEL DETAILS -->
    <div class="modal modal-lg" id="show-model">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="show-model-name">Modal</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="show-model-body">
            This is the content of your modal.
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4 d-none" id="alert-error">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong>
        <div id="alert-error-message"></div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <div class="container mt-4 d-none" id="alert-success">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your token is valid and has been stored in
        browser localstorage.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <div class="container mt-4 d-none" id="alert-openbar">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Infollama proxy is opened without token
        authentification.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>

    <div class="container mt-0 d-none" id="alert-flow">
      <div class="alert alert-dismissible fade show" role="alert">
        <div id="flowIsHere" class="mx-auto p-0 m-0"></div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Hide the chart"
        ></button>
      </div>
    </div>

    <div class="container m-4 content" id="div-connect">
      <div class="row">
        <div class="col-md-12">
          <div class="card mx-auto mt-4 shadow" style="max-width: 500px">
            <div class="card-header">
              <h5 class="card-title mb-0">
                <i class="bi bi-key-fill"></i> Provide your token to access the
                web UI
              </h5>
            </div>
            <div class="card-body align-items-center pb-0">
              <p>
                With a valid token, this web UI will display hardware
                informations about this device and Ollama details like models
                available, models running, available VRAM, ...
              </p>
              <p>
                Tokens are defined in the
                <span class="file-name">user.conf</span> file of this
                application. By defaut, an admin token is defined as
                <span class="string">pro_12345678900000</span>.
              </p>
              <p>
                Once provided, your token will be stored in the browser's local
                storage and will be used to automatically access the web UI.
              </p>
            </div>
            <div class="card-body pt-0">
              <div class="mb-3">
                <label for="token" class="form-label">Your Proxy Token:</label>
                <div class="input-group">
                  <input
                    type="text"
                    id="token"
                    name="token"
                    value="pro_12345678900000"
                    class="form-control"
                    required
                  />
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="send_token(document.getElementById('token').value)"
                  >
                    <i class="bi bi-key-fill"></i> Send Token
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4 d-none" id="div-ui">
      <div class="row g-4">
        <div class="col-md-4 p-0 px-2">
          <div class="card shadow mb-3">
            <div class="card-header">
              <h5 class="card-title mb-0" id="title-running-models">
                Running models
              </h5>
            </div>
            <div class="card-body p-2 pt-0">
              <div class="table-responsive">
                <table
                  class="table table-striped"
                  id="table-running-models"
                ></table>
              </div>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-header">
              <h5 class="card-title mb-0">Device hardware details</h5>
            </div>
            <div class="card-body p-2 pt-0">
              <div class="table-responsive" id="card-device"></div>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-header">
              <h5 class="card-title mb-0">Software and network details</h5>
            </div>
            <div class="card-body p-2 pt-0">
              <div class="table-responsive" id="card-soft"></div>
            </div>
          </div>

          <div class="card shadow mt-3">
            <div class="card-header">
              <h5 class="card-title mb-0">Infollama Proxy Quick Help</h5>
            </div>
            <div class="card-body p-2 pt-0">
              <div class="table-responsive" id="card-help">
                <p>
                  This application is an Ollama proxy server providing acces to
                  the Ollama server via authentification token. You can
                  configure CORS policy, LAN and WAN access.
                </p>
                <p>
                  To use in your LLM app, open Settings and choose
                  <i>OpenAI Compatible</i> provider.<br />

                  Fill in <i>Base URL</i> and your secret token in
                  <i>API Key</i>:<br />
                  <img
                    src="{{ url_for('static', filename= 'images/config-openai-compatible.png') }}"
                    class="card-img border"
                  />
                </p>
                <p>
                  This application can also displays realtime informations in a
                  convenient web UI, about hardware device details, VRAM usage,
                  running models and avalaible models.
                </p>
                <p>
                  More informations on
                  <a
                    href="https://github.com/toutjavascript/infollama-proxy"
                    target="_blank"
                    >the github repository page</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 p-0 px-2">
          <div class="card shadow">
            <div class="card-header">
              <h5 class="card-title mb-0" id="title-available-models">
                Available models
              </h5>
            </div>
            <div class="card-body p-2 pt-0">
              <div class="table-responsive">
                <table
                  class="table table-striped"
                  id="table-available-models"
                ></table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Logout Confirmation Modal -->
      <div
        class="modal fade"
        id="logoutModal"
        tabindex="-1"
        aria-labelledby="logoutModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">Are you sure you want to logout?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-primary" id="confirmLogout">
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- run API Model Confirmation Modal -->
    <div
      class="modal fade"
      id="runModal"
      tabindex="-1"
      aria-labelledby="runModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="runModalLabel">Confirm unload Model</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>An API call will be sent to this model.</div>
            <div id="runModalModel"></div>
            <div>
              It will return performance metrics and other information (like
              num_ctx parameter).
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-primary" id="confirmRun">
                Launch API call
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Unload Model Confirmation Modal -->
    <div
      class="modal fade"
      id="unloadModal"
      tabindex="-1"
      aria-labelledby="unloadModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="unloadModalLabel">
              Confirm unload Model
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>Are you sure you want to unload this model?</div>
            <div id="unloadModalModel"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-warning" id="confirmUnload">
                Unload it
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- load Model Configuration Modal -->
    <div
      class="modal fade"
      id="loadModal"
      tabindex="-1"
      aria-labelledby="loadModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadModalLabel">
              Configure the model to be loaded
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              You are going to load this model. Provide configuration values
              before proceeding.
            </div>
            <div id="loadModalModel"></div>
            <div id="loadModalDigest"></div>
            <form>
              <div class="mb-3">
                <label for="load_num_ctx" class="form-label"
                  >Context length (num_ctx)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="load_num_ctx"
                  placeholder="2048"
                />
              </div>
              <div class="mb-3">
                <label for="load_num_gpu" class="form-label"
                  >GPU Layers (num_gpu)</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="load_num_gpu"
                  placeholder="1"
                />
              </div>
              <div class="mb-3">
                <label for="load_keep_alive" class="form-label"
                  >Keep alive (keep_alive)</label
                >
                <select
                  class="form-select"
                  aria-label="Keep alive (keep_alive)"
                  id="load_keep_alive"
                >
                  <option value="1m">1 minute</option>
                  <option value="5m">5 minutes</option>
                  <option value="15m" selected>15 minutes</option>
                  <option value="30m">30 minutes</option>
                  <option value="2h">2 hours</option>
                  <option value="24h">24 hours</option>
                </select>
              </div>
            </form>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-primary" id="confirmLoad">
                Load it
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer p-1 mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">@toutjavascript</p>
          </div>
          <div class="col-md-6 text-md-end">
            <a href="#" target="_blank" class="text-decoration-none me-3"
              ><i class="bi bi-globe"></i> www.toutjavascript.com</a
            >
            <a
              href="https://github.com/toutjavascript/infollama-proxy"
              target="_blank"
              class="text-decoration-none"
              ><i class="bi bi-github"></i> Github</a
            >
          </div>
        </div>
      </div>
    </footer>

    <div id="div-check-token"></div>
    <div id="promise-result"></div>
    <div id="div-ui"></div>
    <div id="ping-result"></div>
  </body>
</html>
